<footer class="footer mt-auto pt-5 pb-3">
  <div class="container text-center">
    <p>
      <a href="https://www.facebook.com/Vision-First-111416227101094/" target="_blank" class="facebook"><i class="fab fa-2x fa-facebook-square"></i></a>
      <a href="mailto:visionfirsthighlandvillage@gmail.com" target="_blank" class="email"><i class="fas fa-2x fa-envelope-square"></i></a>
    </p>
    <span class="text-muted">This website was made in <a href="https://prosperdigitalconsulting.com/" target="_blank">Texas</a> | &copy; 2020.</span>
  </div>
</footer>