p {
    font-size: 18px;
}

.brand-logo {
    max-height: 50px;
    width: auto;
}

.jumbotron-home {
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .6) ), url("../img/office.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
  min-height: 420px;
}